/* fonts/pretendard.css */
@font-face {
    font-family: "Pretendard Variable";
    src: url("./PretendardVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
